Translate the following {{ target_language_name }} text to English. Only output the English text, nothing else.

Provide a complete, unsummarised, and faithful translation that will be helpful for someone learning {{ target_language_name }} to understand it.

If there is no text, return "-".

<text>
{{ txt_tgt }}
</text>