Translate the following English text to {{ target_language_name }}. Only output the translated text, nothing else.

Provide a complete, unsummarised, and faithful translation that will be helpful for someone learning English to understand it.

If there is no text, return "-".

<text>
{{ txt_en }}
</text>