{% macro load_svelte_component(component_name, props={}, component_id='') %}
  <div id="{{ component_id if component_id else component_name | lower + '-component' }}" data-svelte-component="{{ component_name }}"></div>
  {% if not config.IS_PRODUCTION %}
    {# Development mode - use Vite dev server #}
    <script type="module">
      import { {{ component_name }} } from 'http://localhost:5173/src/entries/{{ component_name | lower }}-entry.ts';
      
      new {{ component_name }}({
        target: document.getElementById('{{ component_id if component_id else component_name | lower + "-component" }}'),
        props: {{ props | tojson | safe }}
      });
    </script>
  {% else %}
    {# Production mode - use built files #}
    <script type="module">
      import { {{ component_name }} } from "{{ url_for('static', filename='build/js/' + component_name | lower + '-entry.js') }}";
      
      new {{ component_name }}({
        target: document.getElementById('{{ component_id if component_id else component_name | lower + "-component" }}'),
        props: {{ props | tojson | safe }}
      });
    </script>
  {% endif %}
{% endmacro %} 