{% extends "base.jinja" %}

{% block breadcrumbs %}
    » Languages
{% endblock breadcrumbs %}

{% block title %}
Hello Zenno - learn foreign words, with a magical AI dictionary
{% endblock %}

{% block meta_description %}
Learn vocabulary and phrases in any language.
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">Available Languages ({{ languages|length }})</h1>
        
        <div class="columns is-multiline">
            {% for language in languages %}
                <div class="column is-one-quarter">
                    <a href="{{ url_for('sourcedir_views.sourcedirs_for_language_vw', target_language_code=language.code) }}" class="box has-text-centered">
                        <p class="is-size-4">{{ language.name }}</p>
                        <p class="is-size-6 has-text-grey">{{ language.code }}</p>
                    </a>
                </div>
            {% else %}
                <div class="column">
                    <div class="notification is-warning">No languages available</div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %} 