{% extends "base.jinja" %}
{% from "base_svelte.jinja" import load_svelte_component %}

{# Specify the Vite entry point for MiniLemma component #}
{% set vite_entries = ['minilemma'] %}

{% block breadcrumbs %}
    » <a href="{{ url_for('languages_views.languages_list_vw') }}">Languages</a>
    » <a href="{{ url_for('sourcedir_views.sourcedirs_for_language_vw', target_language_code=target_language_code) }}">{{ target_language_name }}</a>
    » Dictionary Entries
{% endblock breadcrumbs %}

{% block title %}
{{ target_language_name }} dictionary - Hello Zenno
{% endblock title %}

{% block content %}
<div class="container">
    <h1>{{ target_language_name }} dictionary entries (lemmas) <span class="count">({{ lemmas|length }})</span></h1>
    
    {# Pass the list_endpoint variable for the sort options #}
    {% set list_endpoint = 'lemma_views.lemmas_list_vw' %}
    {% include '_sort_options.jinja' with context %}

    <div class="lemmas-list">
        {% for lemma in lemmas %}
            {{ load_svelte_component('MiniLemma', {
                'lemma': lemma,
                'partOfSpeech': lemma_metadata[lemma].part_of_speech if lemma_metadata[lemma].part_of_speech else "",
                'translations': lemma_metadata[lemma].translations if lemma_metadata[lemma].translations else [],
                'href': url_for('lemma_views.get_lemma_metadata_vw', target_language_code=target_language_code, lemma=lemma)
            }, component_id='minilemma-component-' ~ loop.index) }}
        {% else %}
            <div class="no-entries">No dictionary entries available</div>
        {% endfor %}
    </div>
</div>
{% endblock %}