{% extends "base.jinja" %}
{% from "base_svelte.jinja" import load_svelte_component %}

{% set vite_entries = ['sentence'] %}

{% block breadcrumbs %}
    » <a href="{{ url_for('views.languages') }}">Languages</a>
    » <a href="{{ url_for('sourcedir_views.sourcedirs_for_language', target_language_code=target_language_code) }}">{{ target_language_code }}</a>
    » <a href="{{ url_for('sentence_views.sentences_list', language_code=target_language_code) }}">Sentences</a>
    » {{ sentence.sentence }}
{% endblock breadcrumbs %}

{% block title %}
{{ sentence.sentence }} - {{ target_language_name }} sentence - Hello Zenno
{% endblock title %}

{% block content %}
<!-- Mount point for Svelte component -->
<div id="sentence-component"></div>

{{ load_svelte_component('Sentence', {
    'sentence': sentence,
    'metadata': metadata,
    'enhanced_sentence_text': enhanced_sentence_text
}) }}
{% endblock content %} 