{% extends "base.jinja" %}
{% from "_sourcefile_icon.jinja" import sourcefile_icon %}
{% from "base_svelte.jinja" import load_svelte_component %}

{# Specify the Vite entry point for MiniLemma component #}
{% set vite_entries = ['minilemma'] %}

{% block breadcrumbs %}
    » <a href="{{ url_for('views.languages') }}">Languages</a>
    » <a href="{{ url_for('sourcedir_views.sourcedirs_for_language', target_language_code=target_language_code) }}">{{ target_language_name }}</a>
    » <a href="{{ url_for('sourcedir_views.sourcefiles_for_sourcedir', target_language_code=target_language_code, sourcedir_slug=sourcedir_slug) }}">{{ sourcedir }}</a>
    » {{ sourcefile }}
{% endblock breadcrumbs %}


{% block content %}
<div class="container">
    {% include '_sourcefile_header.jinja' %}

    <div class="tab-content">
        <h2>Words <small>({{ wordforms_d|length }})</small></h2>
        {% include '_wordforms_list.jinja' %}
    </div>

    <script>
        window.target_language_code = "{{ target_language_code }}";
        window.sourcedir_slug = "{{ sourcedir_slug }}";
        window.sourcefile_slug = "{{ sourcefile_slug }}";
        window.sourcefile = "{{ sourcefile }}";
    </script>
    <script src="{{ url_for('static', filename='js/sourcefile.js') }}"></script>
</div>
{% endblock content %} 