{% extends "base.jinja" %}
{% from "base_svelte.jinja" import load_svelte_component %}

{# Specify the Vite entry point for MiniWordform component #}
{% set vite_entries = ['miniwordform-entry'] %}

{% block breadcrumbs %}
    » <a href="{{ url_for('views.languages') }}">Languages</a>
    » <a href="{{ url_for('sourcedir_views.sourcedirs_for_language', target_language_code=target_language_code) }}">{{ target_language_code }}</a>
    » All Wordforms
{% endblock breadcrumbs %}

{% block title %}
All {{ target_language_name }} Words and Forms - Hello Zenno
{% endblock title %}

{% block content %}
<div class="container">
    <h1>All Wordforms <span class="count">({{ wordforms_d|length }})</span></h1>
    
    {% include '_sort_options.jinja' with context %}
    
    {% include '_wordforms_list.jinja' %}
</div>
{% endblock %}